



@media (max-width:1400px) {
  
}

@media (max-width:1200px) {

}

@media (max-width:992px) {
  
}

@media (max-width:768px) {
  
}

@media (max-width:576px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        margin-right: 20px;
        margin-left: 20px;
    }
    .btn-1 {
        background: #2378bd;
        padding: 9px 25px;
        font-size: 19px;
        font-weight: 500;
    }
    .input-1 {
        padding: 12px 19px;
        font-size: 16px;
    }
   
}