


body,h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}

.navbar-brand img {
    width: 45px;
}
.jon-menu .nav-link{
    padding-left:15px !important ;
    padding-right:15px !important ;
}

.jon-menu .nav-link:hover{
    color: #6278df;
}

/* slider */

.slider-section{
    background: url(./mbr-10.jpg) no-repeat center center;
    background-size: cover;
    padding: 180px 0;
    position: relative;
    z-index: 1;
}
.slider-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.slider-caption h4 {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 25px;
}
.slider-caption h2 {
    margin-bottom: 40px;
    font-size: 46px;
}
.input-1 {
    padding: 18px 65px;
}
.btn-1 {
    background: #2378bd;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 500;
  
}

/* number counter-section */
.counter-item h1 {
    font-size: 60px;
}
.counter-item p{
    font-size: 22px;
}

/* about section */
.about-section{
    background-color: #f7f9ff;
}

.about-section h1 {
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 42px;
}
.about-section p {
    font-size: 23px;
    line-height: 30px;
}

/* feature-section */
.feature-item {
    height: 300px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.left-img-sec {
    width: 40%;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}
.left-test-sec {
    width: 60%;
    padding: 25px;
}

.left-img-sec img {
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
    left: -80px;
}

/* portfolio section */

.portfolio-item{
    position: relative;
    
}
.portfolio-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(47, 137, 221, 0.507);
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}
.portfolio-item:hover::after{
    visibility: visible;
    opacity: 1;
}

/*  pricing section */
.pricing-table-section{
    background-color: #f6f8fe;
}
.pricing-table-content{}
.pricing-table-content h1{}
.pricing-table-content p{}

.pricing-item{
    background-color: #fefefe;
    padding: 50px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    border-radius:5px ;
}
.pricing-item h1{}
.pricing-item h5 {
    margin-top: 23px;
    margin-bottom: 10px;
}
.pricing-item ul{
    list-style: none;
}
.pricing-item ul li {
    font-size: 25px;
    padding: 10px 0;
    color: #777;
}
.pricing-item ul li span {
    color: rgb(98, 120, 222);
    padding: 0px 10px;
    width: 35px;
    display: inline-block;
    font-weight: bold;
}
.pricing-table-button{}
.pricing-table-button a {
    font-size: 20px;
    padding: 15px 35px;
    display: inline-block;
}

/* testimonial section */
.author-info {
    width: 215px;
    margin: auto;
}
.author-info img {
    width: 80px;
    margin: auto;
    margin-right: 10px;
}
.user-details {
    position: relative;
    top: 15px;
    text-align: left;
}
.span-font {
    font-size: 80px;
    opacity: 0.1;
}
.testimoial-item span {

}

/* about-section */
.card-item img {
    position: relative;
    top: -56px;
    left: 18px;
}

/*  */
/* footer section */
footer{
    background-color: #fefefe;
}


/*  */